<div class="product-focus span10 offset1">
  <div class="alert fade in alert-danger visibility" id="before-add"></div>
  <div class="product-angles">
    <% @color.images.each do |image| %>
      <div class='angle' data-focussed-image="<%= image.thumbnail(:medium) %>">
        <%= image_tag(image.thumbnail(:small), class: 'small-image') %>
      </div>
    <% end%>
  </div>

  <div class='product-in-focus'>
    <%= image_tag(@color.thumbnail_in_focus(:medium)) %>
  </div>

  <div id='offer-sizes'>
    <div id='size-name' class='block-tile'>
      <p class='inline-tile'> SELECT SIZE - </p>
      <% first_size = @color.sizes.first %>
      <span id='selected-size-value' class='inline-tile'><strong><%= first_size.name %></strong></span>
    </div>
    <div class='size-container'>
      <% @color.sizes.each do |size| %>
        <div class='size-all' data-id="<%= size.id %>" data-price="<%= size.price %>" data-discounted-price="<%= size.discounted_price %>">
          <span>
            <%= size.name %>
          </span>
        </div>
      <% end %>
    </div>
    <div id='size-price'>
      <p id='real-price'>Real <%= first_size.price %></p>
      <p id='discounted-price'>Discounted <%= first_size.discounted_price %></p>
    </div>
  </div>

  <div id='details-tab-container'>
    <div id='details-tab'>
      <p>Details</p>
    </div>
    <div id="details-tab-content" >
      <div>
        <h5><%= @product.title.upcase %></h5>
      </div>
      <div>
        <p class='inline-tile'><%= @product.description %></p>
      </div>
      <div>
        <h5 class='inliner-tile'> BRAND: </h5>
        <p class='inliner-tile'><%= @product.brand.name %></p>
      </div>
    </div>
    <div class='cart-btn'>
      <button type="button" class="btn btn-success add-btn" id="add-cart" data-href="<%= carts_path %>">Add To Cart</button>
    </div>
  </div>

  <div id='color-avail'>
    <% @product.colors.published.each do |color| %>
      <% data_images, data_image_angles = get_product_images(color) %>
      <div class='color-all' data-images="<%= data_images %>" data-focussed-image="<%= color.images.first.file.url(:medium) %>" data-image-angles="<%= data_image_angles %>" data-sizes="<%= color.sizes.pluck(:name) %>" data-size-ids="<%= color.sizes.pluck(:id) %>" data-size-price="<%= color.sizes.pluck(:price).collect(&:to_f) %>" data-size-discounted-price="<%= color.sizes.pluck(:discounted_price).collect(&:to_f) %>">
        <%= image_tag(color.thumbnail_in_focus(:small), class: 'small-image') %>
      </div>
    <% end %>
  </div>
  <div id='bottom-panel'>
    <%= image_tag "go-shop.jpg", class: 'bottom-panel-image' %>
  </div>
</div>
